<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::main})}">

<head>
	<title>Submit Score</title>
</head>

<body class="d-flex flex-column justify-content-between align-items-center" style="height: 100vh; width: 100vw;">
	<main>
		<div class="card bg-light">
			<div class="card-body">
				<h2 class="card-title">Submit Your Score</h2>

				<form th:action="@{/scores/submit}" th:object="${scoreDTO}" method="post">
					<div class="mb-3">
						<label for="score" class="form-label">Score</label>
						<input type="number" th:field="*{score}" class="form-control"
							id="score" />
						<small class="text-danger" th:if="${#fields.hasErrors('score')}"
							th:errors="*{score}"></small>
					</div>

					<div class="mb-3">
						<label for="time" class="form-label">Time (in seconds)</label>
						<input type="number" step="0.1" th:field="*{time}" class="form-control"
							id="time" />
						<small class="text-danger" th:if="${#fields.hasErrors('time')}"
							th:errors="*{time}"></small>
					</div>

					<input type="hidden" th:field="*{userId}" />
					<button type="submit" class="btn btn-primary">Submit</button>
					<a href="/" class="btn btn-secondary">Cancel</a>
				</form>
			</div>
		</div>
	</main>
</body>

</html>
