<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::main})}">

<head>
	<title>Top Scores</title>
</head>

<body>
	<main style="width: 80vw;">
		<div class="container">
			<h2>Top 10 Scores</h2>
			<div class="card text-center">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="/scores/top">Global</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/scores/top/personal">Personal</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Player</th>
								<th>Score</th>
								<th>Time (s)</th>
								<th>Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="score : ${scores}">
								<td th:text="${score.user.username}">Username</td>
								<td th:text="${score.score}">100</td>
								<td th:text="${score.time}">320</td>
								<td th:text="${score.createdAt}">2025-07-07</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<a href="/scores/submit" class="btn btn-primary mt-2">Submit new Score</a>
		</div>
	</main>
</body>

</html>
